body {
  font-family: Arial, sans-serif;
  background: rgb(25, 51, 105);
  background: linear-gradient(
    90deg,
    rgb(22, 46, 99) 0%,
    rgb(42, 153, 250) 50%,
    rgb(148, 182, 255) 100%
  );
}

.contenedor {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333333;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  width: 70%;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3c78f8;
  color: #ffffff;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: #1735bb;
  }
}

#datosClima {
  margin-top: 20px;
  font-size: 18px;
}
